// Mixins
// ---------------------------------------/

// Clearfix
//
// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// type utilities

@mixin sans {
  font-family: $sans-serif;
}

@mixin sans_light {
  @include sans;
  font-weight: 300;
}

@mixin sans_regular {
  @include sans;
  font-weight: 400;
}

@mixin sans_bold {
  @include sans;
  font-weight: 700;
}

@mixin serif {
  font-family: $serif;
}

@mixin serif_light {
  @include serif;
  font-weight: 300;
}

@mixin serif_regular {
  @include serif;
  font-weight: 400;
}

@mixin serif_bold {
  @include serif;
  font-weight: 700;
}
