// Variables
// ---------------------------------------/

// Colors
$white: #FFFFFF;
$light-grey: #FAFAFA;
$mid-grey: #999;
$dark-grey: #666;
$black: #333;

$red: #bF616A;

// Styles
$text-color: $black;
$code-color: $red;
$background-color: $light-grey;

// Fonts
$serif: 'Source Serif Pro', serif;
$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: 'Source Code Pro', 'Courier New', Menlo, Courier, monospace;

// Sizes
$max-width: 664px;
