/**************************
          Colors
***************************/

// Greys
$grey-1: #F4FAFF; // Lightest grey
$grey-2: #FBFBFD;
$grey-3: #F8F8F9;
$grey-4: #EEEEEE;
$grey-5: #E7E7E7;
$grey-6: #DDDDDD;
$grey-7: #8D98AF;
// $grey-8 hex code is wrong, waiting for correction in the style guide
$grey-9: #69738A; // Darkest grey

// Blues
$blue-1: #98D0FF; // Lightest blue
$blue-2: #6EBAFC;
$blue-3: #447ADB;
$blue-4: #274478;
$blue-5: #152F5E; // Darkest blue

// Custom assignments
$white: #FFFFFF;
$black: $grey-9;

// Brand
$very-light-brand-color: $blue-1;
$light-brand-color: $blue-2;
$brand-color: $blue-3;
$dark-brand-color: $blue-4;
$very-dark-brand-color: $blue-5;

// Text
$text-color: $black;
$light-text-color: $grey-7;
$code-color: $dark-brand-color;

// Background
$light-background-color: $white;
$background-color: $grey-3;
$dark-background-color: $grey-4;


/**************************
        Typography
***************************/

$sans-serif: 'Open Sans', Verdana, Arial, sans-serif;
$monospace: 'Courier New', Menlo, Courier, monospace;

$base-font-size: 15px;

$small-copy-font-size: 0.8666em;
$small-copy-line-height: 1.13333333333em;

$copy-font-size: 1em;
$copy-line-height: 1.4em;

$big-copy-font-size: 1.4em;
$big-copy-line-height: 1.8em;


/**************************
          Sizing
***************************/

$border-radius: 2px;
$max-width: 680px;

$small-screen-width: 500px;
