/**************************
            Code
***************************/

// General

code,
pre {
  font-family: $monospace;
}

code {
  padding: 0em .3em;
  font-size: $small-copy-font-size;
  color: $code-color;
  background-color: $background-color;
  border: 1px solid $grey-4;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 1em;
  font-size: 85%;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $background-color;
  border-radius: 3px;
  border: 1px solid $grey-4;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  letter-spacing: -0.03em;
  font-size: inherit;
}

.highlight {
  border-radius: 4px;
}
