/**************************
            Code
***************************/

// General

code,
pre {
  font-family: $monospace;
}

code {
  padding: 0em .3em;
  font-size: $small-copy-font-size;
  color: $code-color;
  background-color: $background-color;
  border: 1px solid $grey-4;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1em;
  font-size: $copy-font-size;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $background-color;
  border-radius: 3px;
  border: 1px solid $grey-4;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  letter-spacing: -0.03em;
  font-size: inherit;
}

.highlight {
  margin-bottom: 1em;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

// Highlighting

.highlight { background-color: #ffffff; color: #000000; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #636363; }
.highlight .cp { color: #636363; }
.highlight .c1 { color: rgba(#636363, 0.8); }
.highlight .cs { color: #636363; }
.highlight .cm { color: #636363; }
.highlight .m { color: #31a354; }
.highlight .mf { color: #31a354; }
.highlight .mi { color: #31a354; }
.highlight .mo { color: #31a354; }
.highlight .se { color: #31a354; }
.highlight .kc { color: #31a354; }
.highlight .kd { color: #3182bd; }
.highlight .kn { color: #3182bd; }
.highlight .kt { color: #3182bd; }
.highlight .s { color: #756bb1; }
.highlight .sb { color: #756bb1; }
.highlight .sc { color: #756bb1; }
.highlight .sd { color: #756bb1; }
.highlight .s2 { color: #756bb1; }
.highlight .sh { color: #756bb1; }
.highlight .si { color: #756bb1; }
.highlight .sx { color: #756bb1; }
.highlight .sr { color: #756bb1; }
.highlight .s1 { color: #756bb1; }
.highlight .ss { color: #756bb1; }
.highlight .bp { color: #e377c2; }
.highlight .nc { color: #e6550d; }
.highlight .no { color: #31a354; }
.highlight .nf { color: #e6550d; }
.highlight .nt { color: #3182bd; }
.highlight .nv { color: #000000; }
.highlight .vc { color: #e377c2; }
.highlight .vg { color: #e377c2; }
.highlight .vi { color: #e377c2; }
.highlight .ow { color: #3182bd; }
.highlight .o { color: #3182bd; }
.highlight .n { color: #000000; }
.highlight .nl { color: #000000; }
.highlight .nn { color: #000000; }
.highlight .nx { color: #000000; }
.highlight .bp { color: #e377c2; }
.highlight .p { color: #000000; }
