/**************************
            Post
***************************/

.post__title {
  margin-bottom: 0;
}

.post__description {
  margin-top: 0;
  font-size: $big-copy-font-size;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: $grey-6;
  margin: 3em auto;
}

.post img {
  max-width: 100%;
  display: block;
}
