/**************************
      Tutorial Grid
***************************/

.tutorial {
	margin: 3em 0;
	margin-top: 2em;
}

.tutorial a {
	text-decoration: none;
}

.tutorial__category {
	margin-bottom: 1em;
	margin-top: 3em;
}

.tutorial__title {
	margin-top: 0;
	margin-bottom: 0.75em;
	font-weight: 400;
}

.tutorial__title a {
	color: inherit;
	text-decoration: underline;
}

.tutorial__parts {
  width: 100%;
  border: 1px solid $grey-5;
  border-radius: $border-radius;
}

.tutorial__row {
	width: 100%;
	border-bottom: 1px solid $grey-5;
}

.tutorial__row:last-child {
	border-bottom: none;
}

.tutorial__row:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.tutorial-part {
	position: relative;
  font-size: 1em;
	width: 50%;
	float: left;
	border-right: 1px solid $grey-5;
}

.tutorial-part--wide {
	width: 100%;
	border-right: none;
}

.tutorial-part--wide .tutorial-part__title {
	margin-top: 4em;
	margin-bottom: 4em;
}

.tutorial-part + .tutorial-part {
	border-right: none;
}

.tutorial-part:hover {
	background-color: $grey-1;
}

.tutorial-part__title-part {
	font-size: $small-copy-font-size;
	text-align: center;
	margin-bottom: 0;
	margin-top: 3em;
	color: $light-brand-color;
}

.tutorial-part__title {
	font-size: 1em;
	margin-bottom: 3em;
	margin-top: 0;
	text-align: center;
	font-weight: 400;
}

.tutorial-part__desc {
	margin-top: 0em;
  margin-bottom: 0;
}

.tutorial-part a {
	text-decoration: none;
  color: $text-color;
}

@media (max-width: $small-screen-width) {
	.tutorial-part {
		width: 100%;
		border-bottom: 1px solid $grey-5;
		border-right: none;
	}

	.tutorial-part + .tutorial-part {
		border-bottom: none;
	}
}
