/**************************
      Tutorial Grid
***************************/

.tutorial {
	margin: 3em 0;
}

.tutorial__title {
  text-align: center;
	margin-top: 0;
	margin-bottom: 0.75em;
}

.tutorial__parts {
  width: 100%;
  border: 1px solid $grey-5;
  border-radius: 2px;
}

.tutorial__row {
	width: 100%;
}

.tutorial__row:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.tutorial-part {
	position: relative;
  font-size: 1em;
	width: 50%;
	float: left;
	border-bottom: 1px solid $grey-5;
	text-decoration: none;
}

.tutorial-part + .tutorial-part {
	border-left: 1px solid $grey-5;
}

.tutorial-part:hover {
	background-color: $grey-1;
}

.tutorial-part__title-part {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 0;
	margin-top: 3em;
}

.tutorial-part__title {
	font-size: 1em;
  margin-bottom: 3em;
	margin-top: 0;
	text-align: center;
}

.tutorial-part__desc {
	margin-top: 0em;
  margin-bottom: 0;
}

.tutorial-part a {
	text-decoration: none;
  color: $text-color;
}
