/**************************
        Typography
***************************/

h1, h2, h3, h4, h5, h6 {
  color: $brand-color;
}

p.big-copy {
  font-size: $big-copy-font-size;
  line-height: $big-copy-line-height;
}

p.small-copy {
  font-size: $small-copy-font-size;
  line-height: $small-copy-line-height;
}

blockquote {
  border-color: $light-text-color;
}

blockquote p {
  color: $light-text-color;
}
